<h2>{{categoryName}}</h2>

<div class="products-container">
  <div class="product-card" *ngFor="let product of products">
    <img [src]="product.imageUrl" alt="{{ product.productName }}">
    <div class="product-info">
      <h3>{{ product.productName }}</h3>
      <div class="product-description">{{ product.description }}</div>
      <div class="product-price">{{ product.price | currency:'INR':'symbol':'1.0-0' }}</div>
      <button (click)="addToCart(product)">Add to Cart</button>
    </div>
  </div>
</div>
